$primary: #4285f4;
$error: #ea4335;
$alert: #fbbc05;
$success: #34a853;
$successLight: #34a85338;
$successhover: #34a8530d;
$white: #ffffff;
$black: #141414;
$gray: #cbcbcb;
$diactivated: #bbbbbb;

$bgLight: #f4faff;

// light backgrounds
$primaryLight: #f8fcff;
$borderLight: #ddf7ff;
$primaryLight2: #d7e6ff;
$borderLight3: #ddffee;
$primaryLight4: #62ddff;

$line: #00050124;

// border
$border1: #e1e1e1;

// hovers
$hoverbg1: #4285f41a;
$hoverbg2: #3e7fe71a;
$hoverAfter: #8ab6ff24;

// new colors
// $primary: #5f6368;
$hoverBtn: #5f636833;
$seconday: #dfdfdf;
