@import "colors";
@import "boxshadow";
@import "device";
@import "type_and_font";

html,
body {
  padding: 0;
  margin: 0;
  font-family: iranyekan, "poppins", sans-serif;
}

html {
  font-size: 62.5%; /*10px */
}

.text-center {
  text-align: center !important;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.ant-divider {
  margin: 2rem 0;
}

.top_bar {
  button {
    margin-right: auto !important;
  }
}

// STATE VIEW
@media (max-width: $tablet) {
  .full-w {
    width: 100% !important;
  }
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;

  @media (max-width: $laptop) {
    font-size: 2.2rem;
  }
  @media (max-width: $tablet) {
    font-size: 2rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.8rem;
  }
  @media (max-width: $mobileM) {
    font-size: 1.6rem;
  }
  @media (max-width: $mobileS) {
  }
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  @media (max-width: $laptop) {
    font-size: 1.8rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.6rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.4rem;
  }
  @media (max-width: $mobileM) {
  }
  @media (max-width: $mobileS) {
  }
}
h3 {
  font-size: 2rem;
  font-weight: 500;

  @media (max-width: $laptop) {
    font-size: 1.8rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.6rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.4rem;
  }
  @media (max-width: $mobileM) {
    font-size: 1.2rem;
  }
  @media (max-width: $mobileS) {
  }
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;

  @media (max-width: $laptop) {
    font-size: 1.6rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.4rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.2rem;
  }
  @media (max-width: $mobileM) {
    font-size: 1rem;
  }
  @media (max-width: $mobileS) {
  }
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin: 0;
}

p,
span,
a {
  font-size: 1.4rem;
  font-weight: 400;
  @media (max-width: $laptop) {
    font-size: 1.3rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.2rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileM) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileS) {
    font-size: 1rem;
  }
}
input,
label {
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
  border-radius: 0.2rem;
  @media (max-width: $laptop) {
    font-size: 1.3rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.2rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileM) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileS) {
    font-size: 1rem;
  }
}
button {
  font-size: 1.3rem;
  font-weight: 400;
  border: none;
  padding: 0.5rem 1rem;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  // background-color: $primary;
  color: $hoverBtn;

  @media (max-width: $laptop) {
    font-size: 1.2rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.2rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileM) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileS) {
    font-size: 1rem;
  }
}
.typic_btn {
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 400 !important;
  border: 1px solid $primary !important;
  padding: 5px 10px !important;
  border-radius: 2px !important;
  transition: 0.3s ease !important;
  cursor: pointer;
  background-color: transparent !important;
  color: $primary !important;

  span {
    display: flex !important;
  }

  &:hover {
    color: $white !important;
    border: 1px solid $primary !important;
    background-color: $primary !important;
  }

  @media (max-width: $laptop) {
    font-size: 1.3rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.2rem;
  }
  @media (max-width: $mobileL) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileM) {
    font-size: 1.1rem;
  }
  @media (max-width: $mobileS) {
    font-size: 1rem;
  }
}

// colors
.primary {
  color: $primary !important;
}
.error {
  color: $error !important;
}
.alert {
  color: $alert !important;
}
.success {
  color: $success !important;
}
