@import 'colors';
@import 'boxshadow';
@import 'device';
@import 'type_and_font';

.state_error {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  //   position: absolute;
  h4 {
    color: $error;
  }
}
